<footer class="text-center">
    <div class="footer-content">
        <p class="footer-text">
            <strong>bio.one13.me</strong> is developed and maintained by 
            <a href="https://bsky.app/profile/nick.onethirteen.co" class="footer-link"><strong>@nick.onethirteen.co</strong></a>
        </p>
        <p class="footer-text">
            <strong>bio.one13.me</strong> was created using the <a href="https://github.com/pglevy/linkinbio-template" class="footer-link">linkinbio-template</a> on GitHub by 
            <a href="https://github.com/pglevy" class="footer-link"><strong>@pglevy</strong></a>
        </p>
        <p class="footer-text">&copy; {{ 'now' | date: "%Y" }} One Thirteen. All rights reserved.</p>
        <p class="footer-text contact-link">
            <a href="mailto:support@onethirteen.co" class="footer-link">Contact</a>
        </p>
    </div>
</footer>

